In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
inningsDf = pd.read_csv("./data/innings.csv")
inningsDf = inningsDf.drop(inningsDf.columns[0], axis=1)

inningsDf.head()

,id,innings,batsman,bowler,non-striker,bat_runs,extra_runs,total_runs,player_out,kind,fielders,wicket
0,548356,1st,DJ Harris,Z Khan,S Dhawan,1,0,1,NaN,NaN,NaN,False
1,548356,1st,S Dhawan,Z Khan,DJ Harris,4,0,4,NaN,NaN,NaN,False
2,548356,1st,S Dhawan,Z Khan,DJ Harris,0,0,0,NaN,NaN,NaN,False
3,548356,1st,S Dhawan,Z Khan,DJ Harris,0,1,1,NaN,NaN,NaN,False
4,548356,1st,S Dhawan,Z Khan,DJ Harris,4,0,4,NaN,NaN,NaN,False

In [3]:
inningsDf.columns

Index(['id', 'innings', 'batsman', 'bowler', 'non-striker', 'bat_runs',
       'extra_runs', 'total_runs', 'player_out', 'kind', 'fielders', 'wicket'],
      dtype='object')

In [4]:
total_runs = inningsDf.groupby(["batsman"])["bat_runs"].sum()
total_balls = inningsDf.groupby(["batsman"])["bat_runs"].count()

In [5]:
total_runs.nlargest()

batsman
V Kohli      5396
SK Raina     5291
RG Sharma    4800
DA Warner    4706
S Dhawan     4528
Name: bat_runs, dtype: int64

In [6]:
total_balls.nlargest()

batsman
V Kohli      4202
SK Raina     3968
RG Sharma    3732
S Dhawan     3732
G Gambhir    3524
Name: bat_runs, dtype: int64

In [7]:
strike_rate = total_runs*100/total_balls 
strike_rate.nlargest(5)

batsman
B Stanlake       250.000000
Umar Gul         205.263158
RS Sodhi         200.000000
SE Rutherford    179.166667
SN Thakur        178.947368
Name: bat_runs, dtype: float64

In [8]:
per_ball_stats = inningsDf.groupby(["batsman"])["bat_runs"].value_counts().rename("stats")
# per_ball_stats
per_ball_stats_df = per_ball_stats.to_frame().reset_index()

In [9]:
def ball_stats(n, df):
    return df[per_ball_stats_df.bat_runs == n 
             ].sort_values(["stats"], ascending = [0])
ball_stats(4, per_ball_stats_df).head(5)

        batsman  bat_runs  stats
1812   S Dhawan         4    516
669   G Gambhir         4    492
1941   SK Raina         4    487
2225    V Kohli         4    479
493   DA Warner         4    458

In [12]:
inningsDf[inningsDf.wicket].kind.unique()

array(['run out', 'caught and bowled', 'caught', 'bowled', 'lbw',
       'stumped', 'hit wicket', 'retired hurt', 'obstructing the field'],
      dtype=object)

In [23]:
wicketsDf = inningsDf[inningsDf.wicket]
bowler_wickets_df = wicketsDf[~wicketsDf.kind.isin( ['run out',
                             'retired hurt', 'obstructing the field'])]

In [30]:
total_wickets = bowler_wickets_df.groupby(["bowler"])["wicket"].count()
total_wickets.nlargest()

bowler
SL Malinga         166
A Mishra           152
PP Chawla          150
DJ Bravo           145
Harbhajan Singh    144
Name: wicket, dtype: int64