In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
matchesDf = pd.read_csv("data/matches.csv")
matchesDf.head()

,Unnamed: 0,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,...,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,0,Dharamsala,2010-04-18,NaN,NaN,419159,20,MS Dhoni,NaN,2010,...,Chennai Super Kings,field,Chennai Super Kings,BF Bowden,AM Saheba,NaN,Himachal Pradesh Cricket Association Stadium,NaN,6.0,Chennai Super Kings
1,1,Chennai,2010-03-31,NaN,NaN,419133,20,M Vijay,NaN,2010,...,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,BG Jerling,RE Koertzen,NaN,"MA Chidambaram Stadium, Chepauk",NaN,5.0,Chennai Super Kings
2,2,Delhi,2010-03-29,NaN,NaN,419131,20,DA Warner,NaN,2010,...,Kolkata Knight Riders,bat,Delhi Daredevils,SS Hazare,SJA Taufel,NaN,Feroz Shah Kotla,40.0,NaN,Delhi Daredevils
3,3,Pune,2013-04-30,NaN,NaN,598038,20,MS Dhoni,NaN,2013,...,Chennai Super Kings,bat,Chennai Super Kings,S Das,SJA Taufel,NaN,Subrata Roy Sahara Stadium,37.0,NaN,Chennai Super Kings
4,4,Jaipur,2012-05-13,NaN,NaN,548365,20,A Chandila,NaN,2012,...,Pune Warriors,bat,Rajasthan Royals,BF Bowden,SK Tarapore,NaN,Sawai Mansingh Stadium,45.0,NaN,Rajasthan Royals

In [3]:
winners  = matchesDf.winner.value_counts()

In [4]:
winners

Mumbai Indians                 104
Chennai Super Kings             99
Kolkata Knight Riders           91
Royal Challengers Bangalore     82
Kings XI Punjab                 79
Rajasthan Royals                73
Delhi Daredevils                67
Sunrisers Hyderabad             57
Deccan Chargers                 29
Rising Pune Supergiants         15
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                   7
Kochi Tuskers Kerala             6
Name: winner, dtype: int64

In [5]:
total_matches  = matchesDf.team1.value_counts() + matchesDf.team2.value_counts()

In [6]:
losses  = total_matches - winners
losses.sort_values(ascending=False)

Royal Challengers Bangalore    97
Kings XI Punjab                95
Delhi Daredevils               94
Kolkata Knight Riders          85
Mumbai Indians                 79
Rajasthan Royals               73
Chennai Super Kings            61
Sunrisers Hyderabad            48
Deccan Chargers                46
Pune Warriors                  34
Gujarat Lions                  17
Rising Pune Supergiants        15
Kochi Tuskers Kerala            8
Delhi Capitals                  6
dtype: int64

In [7]:
match_toss_winner = matchesDf.loc[(matchesDf.toss_winner == matchesDf.winner)]["winner"].value_counts()
match_toss_winner

Chennai Super Kings            56
Mumbai Indians                 53
Kolkata Knight Riders          52
Rajasthan Royals               41
Royal Challengers Bangalore    39
Delhi Daredevils               35
Kings XI Punjab                33
Sunrisers Hyderabad            23
Deccan Chargers                19
Gujarat Lions                  10
Rising Pune Supergiants         8
Delhi Capitals                  5
Kochi Tuskers Kerala            4
Pune Warriors                   3
Name: winner, dtype: int64

In [8]:
matchesDf.eliminator.unique()

array([nan, 'Sunrisers Hyderabad', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Delhi Capitals', 'Mumbai Indians',
       'Kings XI Punjab'], dtype=object)

In [16]:
matchesDf.date = pd.to_datetime(matchesDf.date)

In [25]:
max_id  = matchesDf.groupby(["season"]).date.idxmax()
winners  = matchesDf.loc[max_id].winner

In [28]:
winners.value_counts()

Chennai Super Kings      4
Mumbai Indians           3
Kolkata Knight Riders    2
Sunrisers Hyderabad      1
Rajasthan Royals         1
Deccan Chargers          1
Name: winner, dtype: int64