In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
matchesDf = pd.read_csv("data/matches.csv")
matchesDf.head()

,Unnamed: 0,city,date,dl_applied,eliminator,id,overs,player_of_match,result,season,...,team2,toss_decision,toss_winner,umpire1,umpire2,umpire3,venue,win_by_runs,win_by_wickets,winner
0,0,Dharamsala,2010-04-18,NaN,NaN,419159,20,MS Dhoni,NaN,2010,...,Chennai Super Kings,field,Chennai Super Kings,BF Bowden,AM Saheba,NaN,Himachal Pradesh Cricket Association Stadium,NaN,6.0,Chennai Super Kings
1,1,Chennai,2010-03-31,NaN,NaN,419133,20,M Vijay,NaN,2010,...,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,BG Jerling,RE Koertzen,NaN,"MA Chidambaram Stadium, Chepauk",NaN,5.0,Chennai Super Kings
2,2,Delhi,2010-03-29,NaN,NaN,419131,20,DA Warner,NaN,2010,...,Kolkata Knight Riders,bat,Delhi Daredevils,SS Hazare,SJA Taufel,NaN,Feroz Shah Kotla,40.0,NaN,Delhi Daredevils
3,3,Pune,2013-04-30,NaN,NaN,598038,20,MS Dhoni,NaN,2013,...,Chennai Super Kings,bat,Chennai Super Kings,S Das,SJA Taufel,NaN,Subrata Roy Sahara Stadium,37.0,NaN,Chennai Super Kings
4,4,Jaipur,2012-05-13,NaN,NaN,548365,20,A Chandila,NaN,2012,...,Pune Warriors,bat,Rajasthan Royals,BF Bowden,SK Tarapore,NaN,Sawai Mansingh Stadium,45.0,NaN,Rajasthan Royals

In [4]:
winners  = matchesDf.winner.value_counts()

In [9]:
winners

Mumbai Indians                 104
Chennai Super Kings             99
Kolkata Knight Riders           91
Royal Challengers Bangalore     82
Kings XI Punjab                 79
Rajasthan Royals                73
Delhi Daredevils                67
Sunrisers Hyderabad             57
Deccan Chargers                 29
Rising Pune Supergiants         15
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                   7
Kochi Tuskers Kerala             6
Name: winner, dtype: int64

In [12]:
total_matches  = matchesDf.team1.value_counts() + matchesDf.team2.value_counts()

In [18]:
losses  = total_matches - winners
losses.sort_values(ascending=False)

Royal Challengers Bangalore    97
Kings XI Punjab                95
Delhi Daredevils               94
Kolkata Knight Riders          85
Mumbai Indians                 79
Rajasthan Royals               73
Chennai Super Kings            61
Sunrisers Hyderabad            48
Deccan Chargers                46
Pune Warriors                  34
Gujarat Lions                  17
Rising Pune Supergiants        15
Kochi Tuskers Kerala            8
Delhi Capitals                  6
dtype: int64

In [27]:
match_toss_winner = matchesDf.loc[(matchesDf.toss_winner == matchesDf.winner)]["winner"].value_counts()
match_toss_winner

Chennai Super Kings            56
Mumbai Indians                 53
Kolkata Knight Riders          52
Rajasthan Royals               41
Royal Challengers Bangalore    39
Delhi Daredevils               35
Kings XI Punjab                33
Sunrisers Hyderabad            23
Deccan Chargers                19
Gujarat Lions                  10
Rising Pune Supergiants         8
Delhi Capitals                  5
Kochi Tuskers Kerala            4
Pune Warriors                   3
Name: winner, dtype: int64

In [34]:
matchesDf.eliminator.unique()

array([nan, 'Sunrisers Hyderabad', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Delhi Capitals', 'Mumbai Indians',
       'Kings XI Punjab'], dtype=object)

In [60]:
matchesDf.groupby(["season"]).

17     2008-05-07
31     2008-04-24
47     2008-05-25
54     2008-05-08
59     2008-05-26
97     2008-05-09
124    2008-04-26
133    2008-04-20
137    2008-05-28
140    2008-05-02
148    2008-05-23
152    2008-04-30
175    2008-05-03
176    2008-04-25
184    2008-05-03
196    2008-05-16
203    2008-05-25
207    2008-05-14
215    2008-05-24
219    2008-05-21
224    2008-05-27
225    2008-04-20
236    2008-05-17
238    2008-04-18
259    2008-05-28
267    2008-05-18
284    2008-05-01
297    2008-04-27
304    2008-05-21
317    2008-05-30
354    2008-05-18
355    2008-05-08
357    2008-05-31
402    2008-05-20
414    2008-05-19
415    2008-04-19
438    2008-06-01
440    2008-04-27
441    2008-05-24
442    2008-04-22
471    2008-05-04
496    2008-05-06
499    2008-04-21
504    2008-04-28
510    2008-05-04
511    2008-05-12
534    2008-05-17
544    2008-04-23
569    2008-04-19
581    2008-05-11
615    2008-04-29
632    2008-05-15
634    2008-05-01
651    2008-05-05
654    2008-04-26
696    2008-05-11
698    2008-05-10
739    2008-05-13
Name: date, dtype: object
28     2009-05-21
73     2009-05-10
86     2009-04-21
110    2009-05-17
118    2009-05-01
120    2009-05-12
121    2009-05-05
125    2009-04-19
128    2009-05-14
161    2009-04-29
164    2009-05-22
171    2009-04-23
189    2009-05-02
192    2009-05-24
206    2009-05-20
250    2009-05-03
253    2009-05-07
255    2009-04-26
264    2009-04-22
266    2009-04-26
268    2009-05-17
273    2009-04-25
306    2009-04-23
313    2009-05-09
340    2009-05-20
344    2009-05-21
368    2009-04-29
382    2009-04-27
385    2009-05-10
406    2009-05-05
409    2009-05-13
412    2009-04-24
419    2009-05-03
446    2009-05-23
461    2009-04-27
463    2009-05-02
467    2009-05-04
487    2009-05-14
492    2009-05-08
507    2009-04-28
523    2009-05-11
526    2009-04-18
561    2009-04-30
563    2009-04-18
578    2009-05-15
605    2009-05-09
606    2009-04-30
609    2009-05-07
623    2009-05-16
627    2009-05-19
629    2009-05-12
669    2009-05-16
679    2009-04-20
681    2009-04-19
719    2009-05-06
734    2009-05-18
735    2009-05-01
Name: date, dtype: object
0      2010-04-18
1      2010-03-31
2      2010-03-29
66     2010-03-24
79     2010-04-05
98     2010-03-25
102    2010-04-06
116    2010-04-21
119    2010-03-15
145    2010-04-19
162    2010-03-19
181    2010-03-28
195    2010-04-12
209    2010-03-22
210    2010-03-19
213    2010-03-18
214    2010-04-13
216    2010-04-04
227    2010-04-16
254    2010-03-14
272    2010-04-24
281    2010-03-28
282    2010-03-31
288    2010-04-13
294    2010-04-09
300    2010-03-27
323    2010-04-10
325    2010-04-25
326    2010-04-03
327    2010-04-10
330    2010-04-02
351    2010-03-25
386    2010-04-01
418    2010-03-30
423    2010-04-08
428    2010-03-16
465    2010-03-20
480    2010-04-14
482    2010-03-26
497    2010-04-11
501    2010-04-07
512    2010-03-23
516    2010-03-16
522    2010-04-03
533    2010-04-17
547    2010-04-18
552    2010-04-22
580    2010-04-15
587    2010-03-14
600    2010-04-04
611    2010-03-13
613    2010-04-11
644    2010-03-20
653    2010-03-13
660    2010-03-21
688    2010-04-07
715    2010-03-12
717    2010-03-17
725    2010-03-21
726    2010-04-17
Name: date, dtype: object
9      2011-04-11
12     2011-05-27
16     2011-05-18
19     2011-05-05
43     2011-04-13
45     2011-04-17
60     2011-04-10
67     2011-04-21
82     2011-04-20
122    2011-05-07
131    2011-05-11
142    2011-04-24
146    2011-04-17
155    2011-05-05
159    2011-05-04
165    2011-05-06
168    2011-04-29
178    2011-04-16
183    2011-04-12
212    2011-04-27
218    2011-05-21
228    2011-04-13
270    2011-04-16
302    2011-05-22
324    2011-05-03
348    2011-05-01
353    2011-05-22
359    2011-04-25
367    2011-04-28
370    2011-04-19
          ...
517    2011-05-08
527    2011-05-15
531    2011-05-09
539    2011-04-27
542    2011-05-25
557    2011-05-10
560    2011-04-26
572    2011-04-08
576    2011-04-22
588    2011-05-12
594    2011-05-19
607    2011-05-14
610    2011-04-20
619    2011-05-13
630    2011-04-23
633    2011-04-12
646    2011-04-09
656    2011-05-16
657    2011-05-02
661    2011-05-28
665    2011-04-24
667    2011-05-07
671    2011-05-04
674    2011-04-22
675    2011-04-10
680    2011-05-21
686    2011-04-15
701    2011-05-20
720    2011-04-29
740    2011-04-14
Name: date, Length: 73, dtype: object
4      2012-05-13
5      2012-04-22
21     2012-04-10
26     2012-05-17
32     2012-04-21
37     2012-04-12
39     2012-05-12
44     2012-05-06
48     2012-04-21
56     2012-04-25
68     2012-05-01
75     2012-05-20
76     2012-04-19
90     2012-04-29
100    2012-04-18
123    2012-05-02
130    2012-04-04
138    2012-05-23
150    2012-05-20
179    2012-04-13
197    2012-04-30
208    2012-04-12
240    2012-05-19
277    2012-04-06
286    2012-04-17
296    2012-05-16
318    2012-04-07
334    2012-05-08
339    2012-04-08
349    2012-04-23
          ...
475    2012-05-09
478    2012-04-26
483    2012-04-27
495    2012-04-29
515    2012-04-16
520    2012-04-07
536    2012-05-15
537    2012-05-22
545    2012-04-20
555    2012-04-09
558    2012-05-14
559    2012-04-15
562    2012-05-10
570    2012-05-12
573    2012-04-28
574    2012-05-03
575    2012-05-05
591    2012-05-05
593    2012-04-28
625    2012-05-10
635    2012-04-22
649    2012-05-06
664    2012-05-19
678    2012-04-08
683    2012-05-01
684    2012-04-05
695    2012-04-24
699    2012-05-14
724    2012-04-19
730    2012-05-11
Name: date, Length: 74, dtype: object
3      2013-04-30
15     2013-05-06
18     2013-04-06
41     2013-04-27
42     2013-04-27
46     2013-05-09
52     2013-04-08
61     2013-04-14
70     2013-04-11
74     2013-05-11
83     2013-04-07
88     2013-04-13
94     2013-05-04
96     2013-04-25
101    2013-05-02
111    2013-04-20
135    2013-04-17
143    2013-05-26
149    2013-04-23
167    2013-05-02
169    2013-05-05
170    2013-05-15
173    2013-04-19
180    2013-04-16
198    2013-04-04
221    2013-05-03
234    2013-05-19
235    2013-04-06
246    2013-04-21
275    2013-04-15
          ...
399    2013-04-13
400    2013-05-24
401    2013-04-07
404    2013-04-10
464    2013-05-01
477    2013-05-01
479    2013-05-12
481    2013-04-11
491    2013-04-09
498    2013-05-16
502    2013-04-23
519    2013-04-28
543    2013-05-12
548    2013-04-22
582    2013-05-05
590    2013-04-03
602    2013-04-14
612    2013-05-07
624    2013-05-08
637    2013-05-15
650    2013-05-18
659    2013-04-12
685    2013-04-16
690    2013-04-17
693    2013-05-18
711    2013-04-26
716    2013-04-05
723    2013-04-28
732    2013-05-10
745    2013-05-14
Name: date, Length: 76, dtype: object
24     2014-06-01
34     2014-04-17
38     2014-05-08
53     2014-05-11
58     2014-05-05
69     2014-05-25
80     2014-04-28
91     2014-05-07
104    2014-05-13
105    2014-05-13
126    2014-05-23
134    2014-05-20
136    2014-04-30
141    2014-04-27
154    2014-04-26
163    2014-04-20
188    2014-04-25
199    2014-05-11
201    2014-04-23
202    2014-04-26
229    2014-04-18
232    2014-04-19
233    2014-05-03
237    2014-05-27
247    2014-05-19
258    2014-04-24
280    2014-05-04
301    2014-05-09
314    2014-05-18
345    2014-05-22
358    2014-05-12
395    2014-05-14
417    2014-04-18
435    2014-04-19
469    2014-04-22
474    2014-05-03
486    2014-05-24
488    2014-05-25
494    2014-05-21
508    2014-05-10
530    2014-05-23
541    2014-05-05
549    2014-05-28
579    2014-05-24
583    2014-04-16
601    2014-05-06
618    2014-04-27
642    2014-05-22
648    2014-05-07
655    2014-05-18
658    2014-05-15
662    2014-04-29
677    2014-05-10
692    2014-04-25
697    2014-05-30
713    2014-05-19
718    2014-05-02
731    2014-05-14
741    2014-05-20
744    2014-04-21
Name: date, dtype: object
20     2015-04-08
36     2015-05-07
50     2015-05-07
64     2015-05-10
84     2015-04-11
85     2015-05-20
92     2015-05-05
107    2015-04-14
129    2015-04-24
132    2015-05-10
144    2015-04-25
160    2015-04-19
187    2015-05-17
193    2015-04-22
217    2015-05-03
226    2015-05-24
252    2015-05-13
260    2015-04-19
261    2015-05-11
287    2015-04-26
290    2015-05-19
320    2015-05-16
352    2015-05-09
369    2015-04-27
390    2015-05-09
403    2015-04-17
427    2015-05-02
429    2015-05-22
434    2015-04-16
439    2015-05-17
447    2015-04-18
450    2015-05-04
476    2015-04-09
485    2015-05-03
490    2015-04-12
503    2015-05-08
521    2015-04-13
525    2015-04-29
529    2015-05-04
532    2015-04-12
554    2015-05-06
568    2015-05-01
577    2015-04-18
585    2015-04-23
603    2015-04-30
608    2015-05-02
622    2015-04-15
628    2015-05-15
640    2015-04-20
641    2015-04-22
672    2015-05-01
673    2015-05-12
682    2015-04-28
691    2015-04-25
700    2015-05-16
709    2015-04-11
714    2015-04-21
728    2015-04-10
733    2015-05-14
Name: date, dtype: object
14     2016-05-15
22     2016-05-24
23     2016-04-24
35     2016-05-06
55     2016-05-10
62     2016-05-20
77     2016-04-12
103    2016-05-14
153    2016-05-02
156    2016-04-23
157    2016-05-15
158    2016-04-21
182    2016-04-15
185    2016-04-23
191    2016-05-18
194    2016-04-27
220    2016-05-29
223    2016-05-07
244    2016-05-12
248    2016-05-27
256    2016-04-25
269    2016-05-04
279    2016-05-22
311    2016-04-28
315    2016-04-17
316    2016-05-07
363    2016-05-11
364    2016-04-16
378    2016-04-29
379    2016-04-30
381    2016-04-30
383    2016-04-13
393    2016-05-17
416    2016-05-25
436    2016-04-16
437    2016-05-13
443    2016-04-26
451    2016-04-24
454    2016-04-20
470    2016-05-21
484    2016-05-05
489    2016-04-09
509    2016-05-22
528    2016-04-14
546    2016-05-19
565    2016-04-22
567    2016-05-16
586    2016-05-09
614    2016-05-01
616    2016-05-01
621    2016-04-17
626    2016-05-08
631    2016-04-10
643    2016-04-18
647    2016-05-03
652    2016-04-11
663    2016-04-19
708    2016-05-14
721    2016-05-21
736    2016-05-08
Name: date, dtype: object
25     2017-04-30
33     2017-05-21
40     2017-05-16
49     2017-05-09
51     2017-04-30
63     2017-04-26
65     2017-04-13
81     2017-04-17
106    2017-05-10
108    2017-04-29
112    2017-04-19
113    2017-04-14
114    2017-05-03
115    2017-05-19
177    2017-05-01
204    2017-05-06
239    2017-04-17
245    2017-05-05
251    2017-04-18
263    2017-04-22
274    2017-05-12
278    2017-04-08
295    2017-05-01
307    2017-05-08
309    2017-04-09
312    2017-04-15
321    2017-05-11
328    2017-04-06
332    2017-04-11
335    2017-04-09
336    2017-04-20
361    2017-04-23
374    2017-05-13
445    2017-05-07
448    2017-04-12
455    2017-04-15
457    2017-04-23
458    2017-04-10
466    2017-05-02
493    2017-05-13
506    2017-05-14
514    2017-04-08
518    2017-04-16
538    2017-05-14
550    2017-04-28
553    2017-04-14
571    2017-04-21
584    2017-04-05
595    2017-05-04
604    2017-04-07
620    2017-04-28
636    2017-04-16
668    2017-05-17
687    2017-05-06
702    2017-05-07
703    2017-04-29
705    2017-04-22
729    2017-04-27
737    2017-04-24
Name: date, dtype: object
8      2018-05-15
10     2018-04-28
11     2018-04-14
13     2018-04-29
27     2018-04-23
30     2018-04-14
71     2018-04-27
78     2018-05-27
87     2018-05-19
93     2018-05-10
95     2018-04-25
127    2018-04-11
139    2018-05-01
147    2018-04-15
151    2018-05-06
166    2018-04-30
174    2018-05-13
200    2018-04-24
205    2018-04-21
230    2018-04-07
231    2018-05-05
249    2018-05-19
257    2018-04-13
262    2018-04-22
265    2018-04-20
291    2018-05-05
308    2018-04-22
333    2018-04-21
338    2018-05-12
341    2018-04-26
342    2018-04-29
347    2018-05-12
356    2018-05-20
366    2018-04-08
387    2018-05-22
397    2018-04-10
407    2018-05-08
421    2018-04-16
425    2018-05-09
452    2018-05-07
456    2018-04-12
459    2018-05-04
460    2018-04-19
472    2018-05-03
473    2018-05-23
505    2018-05-11
551    2018-04-08
556    2018-04-15
564    2018-05-13
589    2018-05-18
596    2018-05-25
598    2018-04-18
617    2018-05-16
645    2018-04-09
676    2018-05-20
689    2018-05-06
694    2018-04-17
707    2018-05-17
722    2018-05-14
727    2018-05-02
Name: date, dtype: object
6      2019-04-17
7      2019-04-24
29     2019-04-08
57     2019-04-01
72     2019-04-07
89     2019-03-23
99     2019-04-19
109    2019-04-05
117    2019-04-06
172    2019-04-25
186    2019-04-30
190    2019-04-23
211    2019-04-11
222    2019-04-20
241    2019-04-13
242    2019-04-26
243    2019-04-18
271    2019-04-12
285    2019-03-26
289    2019-03-30
293    2019-03-24
298    2019-03-29
299    2019-04-22
303    2019-04-09
337    2019-04-04
388    2019-03-25
391    2019-04-28
394    2019-03-24
396    2019-03-30
410    2019-04-21
424    2019-04-20
432    2019-04-21
524    2019-04-13
535    2019-04-16
540    2019-03-27
566    2019-04-14
592    2019-04-03
597    2019-05-01
599    2019-04-02
638    2019-03-31
639    2019-04-14
666    2019-03-28
670    2019-04-28
704    2019-04-07
706    2019-04-06
710    2019-04-29
712    2019-04-10
738    2019-04-15
742    2019-04-27
743    2019-03-31
Name: date, dtype: object